@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
.hero-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
.bg-hotel-red {
  background-color: #e31e24;
}
.text-hotel-red {
  color: #e31e24;
}
.border-hotel-red {
  border-color: #e31e24;
}
.bg-hotel-blue {
  background-color: #0066b2;
}

.nav-transition {
  transition: all 0.3s ease-in-out;
}

/* Estilo para imágenes de la galería */
.gallery-img {
  transition: transform 0.5s ease;
}
.gallery-img:hover {
  transform: scale(1.05);
}
